.item
    margin-bottom: 2rem

    .item-image
        aspect-ratio: 1.3333

    .item-description
        min-height: 4rem

    .ingredient
        display: inline-block
        padding: 0.5rem
        margin-left: 0.25rem
        margin-right: 0.25rem
        border: 1px solid #aaa
        background-color: #eeeeee
        color: #000
        font-size: 0.65rem
        border-radius: 0.5rem 0.5rem
